@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(52, 54, 54);
}

.login {
    width: 320px;
    height: 500px;
    background: rgb(52, 54, 54);
    box-shadow: -10px -10px 15px rgba(0,0,0,0.3), 10px 10px 15px rgb(0,0,0,0.3);
    border-radius: 20px;
    color: orange;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-family: 'Great vibes', cursive;
    text-align: center;
    font-size: 40px;
    font-weight: 40px;
    margin: 50px 0px 20px 0px;
    color: orange;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    font-size: 18px;
    color: orange;
    margin: 7px 0px;
}

input {
    width: 230px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: orange;
    color: rgb(54, 52, 26);
    padding: 0px 10px;
    box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.3),
    inset -4px -4px 10px 0 rgba(255,255,255,0.4);
}

::placeholder {
    color: rgba(33,44,48);
}

p {
    margin: 10px 0px;
    font-size: 18px;
}

span {
    margin: 25px 0px 15px 0px;
}

.fab {
    width: 20px;
    text-align: center;
    margin-left: 10px;
    background-color: orange;
    font-size: 20px;
    color: black;
    padding: 5px;
    border-radius: 20px;
}